* {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}

.page {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: #e5e5e5;
}

.page__container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #38404b;
  border-radius: 65px;
  min-height: 100vh;
}

.todo {
  padding-top: 74px;
  margin: 0 auto;
  max-width: 720px;
  margin: 0 60px;
}

.todo__content {
  margin: 0;
}

.todo__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.todo__input {
  color: #94adcf;
  width: 500px;
  height: 32px;
  background: #38404b;
  -webkit-box-shadow: 1px 1px 2px rgba(66, 75, 88, 0.3), -1px -1px 2px rgba(46, 53, 62, 0.5), inset -3px 3px 6px rgba(46, 53, 62, 0.2), inset 3px -3px 6px rgba(46, 53, 62, 0.2), inset -3px -3px 6px rgba(66, 75, 88, 0.9), inset 3px 3px 8px rgba(46, 53, 62, 0.9);
          box-shadow: 1px 1px 2px rgba(66, 75, 88, 0.3), -1px -1px 2px rgba(46, 53, 62, 0.5), inset -3px 3px 6px rgba(46, 53, 62, 0.2), inset 3px -3px 6px rgba(46, 53, 62, 0.2), inset -3px -3px 6px rgba(66, 75, 88, 0.9), inset 3px 3px 8px rgba(46, 53, 62, 0.9);
  border-radius: 16px;
  padding: 0 10px;
}

.todo__input::-webkit-input-placeholder {
  font-size: 16px;
  color: rgba(148, 173, 207, 0.7);
  font-weight: normal;
  line-height: 18px;
}

.todo__input:-ms-input-placeholder {
  font-size: 16px;
  color: rgba(148, 173, 207, 0.7);
  font-weight: normal;
  line-height: 18px;
}

.todo__input::-ms-input-placeholder {
  font-size: 16px;
  color: rgba(148, 173, 207, 0.7);
  font-weight: normal;
  line-height: 18px;
}

.todo__input::placeholder {
  font-size: 16px;
  color: rgba(148, 173, 207, 0.7);
  font-weight: normal;
  line-height: 18px;
}

.todo__add-btn {
  background-image: url(../images/add-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #11ffee00;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 15px;
  height: 20px;
  margin-left: 20px;
}

.todo__add-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.todo__before {
  overflow: auto;
  max-width: 700px;
  max-height: 75vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 10px;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 20px;
  padding: 5px;
}

.todo__before::-webkit-scrollbar {
  width: 0;
}

.todo__card {
  background: #38404b;
  -webkit-box-shadow: -5px 5px 10px rgba(48, 54, 64, 0.2), 5px -5px 10px rgba(48, 54, 64, 0.2), -5px -5px 10px rgba(64, 74, 86, 0.9), 5px 5px 13px rgba(48, 54, 64, 0.9), inset 1px 1px 2px rgba(64, 74, 86, 0.3), inset -1px -1px 2px rgba(48, 54, 64, 0.5);
          box-shadow: -5px 5px 10px rgba(48, 54, 64, 0.2), 5px -5px 10px rgba(48, 54, 64, 0.2), -5px -5px 10px rgba(64, 74, 86, 0.9), 5px 5px 13px rgba(48, 54, 64, 0.9), inset 1px 1px 2px rgba(64, 74, 86, 0.3), inset -1px -1px 2px rgba(48, 54, 64, 0.5);
  border-radius: 16px;
  width: 300px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo__card:hover {
  cursor: pointer;
  opacity: .7;
}

.todo__card-active {
  -webkit-box-shadow: 1px 1px 2px rgba(64, 74, 86, 0.3), -1px -1px 2px rgba(48, 54, 64, 0.5), inset -5px 5px 10px rgba(48, 54, 64, 0.2), inset 5px -5px 10px rgba(48, 54, 64, 0.2), inset -5px -5px 10px rgba(64, 74, 86, 0.9), inset 5px 5px 13px rgba(48, 54, 64, 0.9);
          box-shadow: 1px 1px 2px rgba(64, 74, 86, 0.3), -1px -1px 2px rgba(48, 54, 64, 0.5), inset -5px 5px 10px rgba(48, 54, 64, 0.2), inset 5px -5px 10px rgba(48, 54, 64, 0.2), inset -5px -5px 10px rgba(64, 74, 86, 0.9), inset 5px 5px 13px rgba(48, 54, 64, 0.9);
  border-radius: 16px;
  opacity: .7;
}

.todo__card-active:hover {
  cursor: pointer;
  opacity: 1;
}

.todo__text {
  overflow: hidden;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #94adcf;
  margin-left: 20px;
  text-overflow: ellipsis;
}

.todo__text-active {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.todo__cercle {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 18px;
  height: 18px;
  border: 2.5px solid #94adcf;
  border-radius: 50%;
  margin-left: 10px;
}

.todo__cercle-active {
  background: #94ADCF;
}

.todo__complete {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #94adcf;
}

.todo__after {
  overflow: auto;
  max-width: 700px;
  max-height: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 10px;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 20px;
}

.todo__after::-webkit-scrollbar {
  width: 0;
}
/*# sourceMappingURL=index.css.map */